In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Highest Holywood Grossing Movies.csv")

In [10]:
df = df.drop('Unnamed: 0', axis = 1)

In [11]:
df.head()

,Title,Movie Info,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Genre,Movie Runtime,License
0,Star Wars: Episode VII - The Force Awakens (2015),"As a new threat to the galaxy rises, Rey, a de...",Walt Disney Studios Motion Pictures,"December 16, 2015",936662225,1132859475,2069521700,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13
1,Avengers: Endgame (2019),After the devastating events of Avengers: Infi...,Walt Disney Studios Motion Pictures,"April 24, 2019",858373000,1939128328,2797501328,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
2,Avatar (2009),A paraplegic Marine dispatched to the moon Pan...,Twentieth Century Fox,"December 16, 2009",760507625,2086738578,2847246203,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 42 min,PG-13
3,Black Panther (2018),"T'Challa, heir to the hidden but advanced king...",Walt Disney Studios Motion Pictures,NaN,700426566,647171407,1347597973,"['Action', 'Adventure', 'Sci-Fi']",2 hr 14 min,NaN
4,Avengers: Infinity War (2018),The Avengers and their allies must be willing ...,Walt Disney Studios Motion Pictures,NaN,678815482,1369544272,2048359754,"['Action', 'Adventure', 'Sci-Fi']",2 hr 29 min,NaN

In [30]:
df['Movie Runtime'].value_counts

<bound method IndexOpsMixin.value_counts of 0      2 hr 18 min
1       3 hr 1 min
2      2 hr 42 min
3      2 hr 14 min
4      2 hr 29 min
          ...
913     2 hr 3 min
914    1 hr 22 min
915    2 hr 13 min
916    1 hr 38 min
917    1 hr 42 min
Name: Movie Runtime, Length: 918, dtype: object>

In [32]:
print(len(df['Movie Runtime'][0]))
h = int(df['Movie Runtime'][0][:1])
m = int(df['Movie Runtime'][0][5:7])

print(h,m)

print((h*60)+m)

11
2 18
138

In [33]:
def min_(x):
    if len(x) == 10:
        hr = int(x[:1])
        min__ = int(x[5:6])
    else:
        hr = int(x[:1])
        min__ = int(x[5:7])
    return (hr * 60) + int(min__)

In [35]:
def hour(x):
    for i in range(len(x)):
        if x[i] == 'h':
            return int(x[:i])
hour(df['Movie Runtime'][0])

2

In [36]:
df['hour'] = df['Movie Runtime'].apply(hour)
df.head()

,Title,Movie Info,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Genre,Movie Runtime,License,hour
0,Star Wars: Episode VII - The Force Awakens (2015),"As a new threat to the galaxy rises, Rey, a de...",Walt Disney Studios Motion Pictures,"December 16, 2015",936662225,1132859475,2069521700,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13,2
1,Avengers: Endgame (2019),After the devastating events of Avengers: Infi...,Walt Disney Studios Motion Pictures,"April 24, 2019",858373000,1939128328,2797501328,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13,3
2,Avatar (2009),A paraplegic Marine dispatched to the moon Pan...,Twentieth Century Fox,"December 16, 2009",760507625,2086738578,2847246203,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 42 min,PG-13,2
3,Black Panther (2018),"T'Challa, heir to the hidden but advanced king...",Walt Disney Studios Motion Pictures,NaN,700426566,647171407,1347597973,"['Action', 'Adventure', 'Sci-Fi']",2 hr 14 min,NaN,2
4,Avengers: Infinity War (2018),The Avengers and their allies must be willing ...,Walt Disney Studios Motion Pictures,NaN,678815482,1369544272,2048359754,"['Action', 'Adventure', 'Sci-Fi']",2 hr 29 min,NaN,2

In [53]:
def min_min(x):
    for i in range(len(x)-4,0,-1):
        l = len(x)-4
        if x[i] == 'r':
            return int(x[i+1:l])
min_min(df['Movie Runtime'][0])

18

In [54]:
df['Minutes'] = df['Movie Runtime'].apply(min_min)
df.head()

,Title,Movie Info,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Genre,Movie Runtime,License,hour,Minutes
0,Star Wars: Episode VII - The Force Awakens (2015),"As a new threat to the galaxy rises, Rey, a de...",Walt Disney Studios Motion Pictures,"December 16, 2015",936662225,1132859475,2069521700,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13,2,18.0
1,Avengers: Endgame (2019),After the devastating events of Avengers: Infi...,Walt Disney Studios Motion Pictures,"April 24, 2019",858373000,1939128328,2797501328,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13,3,1.0
2,Avatar (2009),A paraplegic Marine dispatched to the moon Pan...,Twentieth Century Fox,"December 16, 2009",760507625,2086738578,2847246203,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 42 min,PG-13,2,42.0
3,Black Panther (2018),"T'Challa, heir to the hidden but advanced king...",Walt Disney Studios Motion Pictures,NaN,700426566,647171407,1347597973,"['Action', 'Adventure', 'Sci-Fi']",2 hr 14 min,NaN,2,14.0
4,Avengers: Infinity War (2018),The Avengers and their allies must be willing ...,Walt Disney Studios Motion Pictures,NaN,678815482,1369544272,2048359754,"['Action', 'Adventure', 'Sci-Fi']",2 hr 29 min,NaN,2,29.0

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Title                       918 non-null    object
 1   Movie Info                  918 non-null    object
 2   Distributor                 918 non-null    object
 3   Release Date                800 non-null    object
 4   Domestic Sales (in $)       918 non-null    int64
 5   International Sales (in $)  918 non-null    int64
 6   World Sales (in $)          918 non-null    int64
 7   Genre                       918 non-null    object
 8   Movie Runtime               918 non-null    object
 9   License                     744 non-null    object
 10  hour                        918 non-null    int64
 11  Minutes                     900 non-null    float64
dtypes: float64(1), int64(4), object(7)
memory usage: 86.2+ KB

In [47]:
df['Movie Runtime'].value_counts()

1 hr 55 min    24
1 hr 56 min    23
2 hr 10 min    22
1 hr 46 min    20
1 hr 37 min    20
               ..
3 hr 14 min     1
2 hr 46 min     1
3 hr 9 min      1
3 hr 21 min     1
1 hr 17 min     1
Name: Movie Runtime, Length: 101, dtype: int64